<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header id="about-h-container"></header>
    <header id="about-f-container"></header>

    <script>
         fetch('header.html')
          .then(response => response.text())
          .then(data => {
              document.getElementById('about-h-container').innerHTML = data;
      });

      fetch('footer.html')
          .then(response => response.text())
          .then(data => {
              document.getElementById('about-f-container').innerHTML = data;
      });
    </script>
</body>
</html> -->